.l1{
    background: url(./Screenshot\ 2021-03-16\ 150101.png);
}

.l2{
    background: url(./Screenshot\ 2021-03-16\ 150254.png);
}

.l3{
    background: url(./Screenshot\ 2021-03-16\ 150101.png);
}

div{
    display:inline-block;
}